@charset "utf-8";

@import "bourbon";

$height40 : 40px;
$height45: 45px;

.mt5{margin-top: 1em;}
.mb5{margin-bottom: 1em;}
.mb10{margin-bottom: 2em;}

body{background-color: #f3f3f3;}
.app{ max-width: 640px;margin: 0 auto; }

.head{
  padding: 18px 0 1px 0;
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;

  h2{text-align: center;height: 36px;line-height: 36px;font-family: Roboto;  font-size: 26px;}

  .setting,.add-device{position: relative;width: 50%; height: 100%; float:left;display: inline-block;color: #333333;font-family: "Hiragino Sans GB"; font-weight: normal;font-size: 22px;}
  .setting{text-align: left;padding-left:32px;}
  .add-device{text-align: right; padding-right: 37px;}

  .setting::before,.add-device::before{
      content: '';
      width: 35px;
      height: 36px;
      position: absolute;
      bottom: -2px;

      background-size: 68%;
      background-repeat: no-repeat;
      background-position: left center;
  }
  .setting::before{
    left:5px;
    background-image: url(/res/img/setting.png);
  }
  .add-device::before{
    right:0px;
    background-image: url(/res/img/add.png);
  }

  &.add i{
    content: '';
    width: 35px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 20px;

    background-size: 68%;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(/res/img/add.png);
  }
  .header_goback{
    width: 36px;
    height: 36px;
    position: absolute;

    span{
      background-image: url(/res/img/back.png);
      width: 24px;
      height: 36px;
      display: inline-block;
      background-size: 60%;
      background-repeat: no-repeat;
      margin: 6px 0 0 10px;
    }

    &.none{
      display: none;
    }
  }

  @include clearfix;
}

.logo_bg{
  padding: 3% 0;

  .logo{
    display: block;
    text-align: center;
    img{width: 50%;}
  }
  .version{
    text-align: center;
    font-size: 14px;
    font-weight: bold;

    &.none{
      display: none;
    }
  }
}

.form{
  background-color: #fff;

  label{
    display: block;
    position: relative;
    height: $height45;
    line-height: $height45;;
    vertical-align: middle;
    border-bottom: 1px solid #e3e3e3;
    &:nth-child(1){
      border-top: 1px solid #e3e3e3;
    }
  }
  label::before{
    content: '';
    width: 35px;
    height: $height45;
    position: absolute;
    bottom: 0;
    left:10px;
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: left center;

  }
  label[for="email"]::before {
    background-image: url(/res/img/email.png);
  }
  label[for="pwd"]::before,label[for="confirm_pwd"]::before  {
    background-image: url(/res/img/pwd.png);
  }
  label[for="mobile"]::before {
    background-image: url(/res/img/mobile.png);
  }
  label[for="country"]{
    padding-left: 36px;
    &::before{
      background-image: url(/res/img/country.png);
    }
  }
  label[for="imei"]::before {
    background-image: url(/res/img/imei.png);
  }
  label[for="vcode"]::before {
    background-image: url(/res/img/email.png);
  }
  .vcode-btn{
    position: absolute;
    display: inline-block;
    right: 0;
    font-style: normal;
    border-left: 1px solid #e3e3e3;
    padding: 0 15px 0 5px;
    width: 80px;
    text-align: center;

    background-color: #34cf95;
    color: #fff;
    opacity: 0.5;

    &.active{
      opacity: 1;
    }
  }

  .ant-cascader-picker-label{
    left:0;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
    font-size: 16px;
  }
  .coutry-wrap{
    & .ant-input{
      padding-left: 0;
      &:focus, &:hover{
        border: 0;
        box-shadow: none;
      }
    }
  }

  input{
    vertical-align: middle;
    display: inline-block;
    width:100%;
    height: 24px;
    line-height: 24px;
    box-sizing:border-box;
    border:none;
    padding:0 0 0 36px;
    background: transparent;
    font-size: 16px;
   /* font-family: "Hiragino Sans GB";*/
   font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
    &:focus{
      outline: none;
    }
  }
  &.no-icon input{
    padding-left: 1em;
  }
}

.sign_btn{
  text-align: center;
  padding: 0 0 5% 0;

  .ant-btn{width:90%; margin-bottom: 10px;font-weight: bold;}
  .ant-btn-primary{
    background-color: #34cf95;
    border-color: #34cf95;
    color: #fff;
    opacity: 0.5;

    &.active{
      opacity: 1;
    }
  }

  .login_info{
    position: absolute;
  }
  .wrap_info{
    position: relative;

    &.none .ant-alert{display: none;}
  }

  .ant-alert{
    position: absolute;
    z-index: 10;
    bottom: 100%;
    width: 80%;
    left: 10%;
    color: #fff;
    background-color: #333333;
    font-family: "Hiragino Sans GB";
  }
  .ant-alert-description{
    line-height: 16px;
  }

  .reg_btn{
    margin-top: 10px;
    .ant-btn-primary{background-color: initial;border-color: #34cf95;color: #727272;}
    a{display: inline-block;width: 50%;}
    .forget{text-align: left;padding-left: 15px;}
    .register{text-align: right;padding-right: 15px;}
    @include clearfix;
  }
  .ant-checkbox-checked .ant-checkbox-inner{
    background-color: #34cf95;
  }
}
.ant-switch-checked{
  background-color: #6fd865;
  border-color: #6fd865;
}
.ant-modal-footer{
  .button{
    background-color: #34cf95;
    border-color: #34cf95;
  }
}
.ant-message-notice{text-align:center;}
.ant-message-notice-content{background:rgba(0,0,0,.5);color:#fff; font-size:13px;}
.ant-btn{font-size: 16px;}
.ant-cascader-menu-item{padding-left: 5px;}
.ant-cascader-menu{height: auto;}
.main{
  .thead{background-color: #fff;margin-bottom: 10px;}
  .device-list{
    background-color: #fff;
    a{
      vertical-align: middle;
    }
    .list-item{
      position: relative;
      overflow: hidden;

      .delete{
        position: absolute;
        top: 0;
        right: 0;
        transform:translateX(55px);
        overflow: hidden;
        text-align: center;
        font-size: 18px;
        transition: transform .5s,height 0s ease .5s;

        width: 50px;
        height: 40px;
        line-height: 40px;
        background-color: #e81631;
        color: #fff;
      }

      .row{
        @include transition(all .5s);
      }

      &.translation{
        .row{
          @include transform(translateX(-50px));
        }
        .delete{
          transform: translateX(5px);
          transition:transform .5s;
        }

      }
    }
    .alarm{
      a{
        display: inline-block;
        width: 16px;
        height: 16px;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url(/res/img/right.png);
      }
    }
  }
  .row-flex-middle>div{
    height: 40px;
    text-align: center;
    line-height: 40px;
  }

}
.delete_wrap{
  //transition: transform .5s,height 0s ease .5s;
  position: absolute;
  top:100%;
  text-align: center;
  background-color: #fff;
  z-index: 1000;
  width: 100%;
  font-size: 16px;
  @include animation(slide 500ms 1 linear both);

  &.slide_out{
    @include animation(slide-out 500ms 1 linear both);
  }

  a{
    display: block;
    height: 40px;
    line-height: 40px;
  }
  .del{
    color: #e81631;
    border-bottom: 1px solid #e3e3e3;
  }
}

.users{
  .form{
    label{
      overflow: hidden;

      .delete{
        position: absolute;
        top: 0;
        right: 0;
        transform:translateX(55px);
        overflow: hidden;
        text-align: center;
        font-size: 18px;
        transition: transform .5s,height 0s ease .5s;

        width: 50px;
        height: 45px;
        line-height: 45px;
        background-color: #e81631;
        color: #fff;
      }

      &.translation{
        .delete{
          transform: translateX(5px);
          transition:transform .5s;
        }
      }

    }
  }
}

.heading{
  position: relative;
  height: $height40;
  line-height: $height40;
  background-color: #fff;
  padding: 0px 25px 0px 12px;
  font-size: 16px;

  .ant-switch{
    position: absolute;
    right: 10px;
    top: 9px;
  }
  .val{
    position: absolute;
    right: 25px;
    color: #b1abab;
  }
}
.heading-single{
  margin-bottom: 1em;
}
.heading-multiple{
  border-bottom: 1px solid #e3e3e3;
}
.heading-forward::after{
  content: '';
  width: 20px;
  height: $height40;
  position: absolute;
  bottom: -1px;
  right:2px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url(/res/img/right.png);
}
.heading-forward.none::after{
  display: none;
}
.alarm{

  .alart_content{
    padding-left: 20%;
  }
  .ant-timeline-item-head-blue{
    color: #00a185;
    border-color: #00a185;
  }
  .ant-timeline-item-head-custom{
    width: 22px;
    left: -5px;
    border-radius: 100px;
    padding: 4px 0;
    color: #a0a0a0;
    border: 1px solid #00a185;
  }
  .alarm_date{
    min-height: 4em;
  }
  .alarm_date_year,.alarm_date_time{
    position: absolute;
    text-align: right;
    top: 0;
    color: #6f6f6f;
  }
  .alarm_date_custom .ant-timeline-item-head-custom{
    width: 12px;
    left: 0px;
    padding: 4px 0;
    border-width: 2px;
    height: 12px;
  }
  .alarm_date_year{
    right: -35px;
    top: 10px;
  }
  .alarm_date_time{
    left: -60px;
  }
  .alarm_content{
    margin-right: 30px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #a4a4a4;
    min-height: 40px;
  }
  .alarm_content:after{
    content: '';
    position: absolute;
    top: 14px;
    left: 20px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-top: 1px #a4a4a4 solid;
    border-right: 2px transparent solid;
    border-bottom: 2px transparent solid;
    border-left: 1px #a4a4a4 solid;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .ant-timeline-item-content{
    top: -14px;
  }

  .ant-timeline-item-tail{
    border-color: #a0a0a0;
    border-width: 1px;
  }
}

.map_page{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  right: 0;
}
#map{
  height:100%;
}
#time_range{
  position: absolute;
  display: none;
  width: 32px;
  height: 32px;
  top: 32%;
  left: 3%;
  background-image: url(/res/img/range.png);
  background-repeat: no-repeat;
  background-size: 80%;
  cursor: pointer;
}
.sinput{
  height: 26px;
  line-height: 26px;
  margin: 7px 10px 3px 50px;
  position: relative;
  background: #fff;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  font-size: 12px;
  border: 1px solid #bfbfbf;

  .search, .clear-text{
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: left center;
    top: 4px;
    right: 0px;
  }
  .search{
    background-image: url(/res/img/search.png);
  }
  .clear-text{
    background-image: url(/res/img/clear.png);
  }
  input{
    border: 0;
    display: inline-block;
    background: 0;
    font-size: 13px;
    line-height: 1.4em;
    height: 1.4em;
    width: 100%;
    vertical-align: middle;
    padding-left: 12px;
    color: #666;
    outline: none;
  }
  .none{
    display: none;
  }
}
.sicon{
  display: inline-block;
  font-style: normal;
  vertical-align: middle;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  width: 44px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-x: 50%;
  background-position-y: 50%;
}
.sicon-gps{
  background-image: url(/res/img/gps.png);
}
.sicon-gprs{
  background-image: url(/res/img/gprs.png);
}
.sicon-gprs-off{
  background-image: url(/res/img/gprs-off.png);
}
.map {
  .ant-modal-header,.ant-modal-close{display: none;}
  .ant-modal-content{background-color: #edebeb}
  .ant-modal-body{padding-bottom: 0;}
  .ant-calendar-picker{width: 100%;margin-bottom: 1em;}
  .ant-modal-footer{text-align: center;}
  .ant-btn-primary{background-color: #34cf95;border-color: #34cf95;}
  .ant-input{border: 0px;}
}

.tail{text-align: center;padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}


@include keyframes(slide) {
   0% {
     @include transform(translateY(150%));
   }
   100% {
     @include transform(translateY(0));
   }
}

@include keyframes(slide-out) {
  0% {
    @include transform(translateY(0));
  }
  100% {
    @include transform(translateY(150%));
  }
}